---
import '../styles/global.css';
import { Button } from "@/components/ui/button";
// Component Imports
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/dgu3gae6k/image/upload/v1759546975/abhikr_uvns8e.png"/>
		<meta name="generator" content={Astro.generator} />
		<title>Abhikr | Blog</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
			<Button>Hi</Button>
			
		</div>
	</body>
</html>
